[submodule "kubespray"]
	path = kubespray
	url = https://github.com/kubernetes-incubator/kubespray.git
[submodule "openshift-ansible"]
	path = openshift-ansible
	url = //github.com/openshift/openshift-ansible
